.App {
  text-align: center;
}


.well{
  font-size: 40px;
  color: yellow;
  text-shadow: white;
  text-align: center;

}


 @keyframes nudge {

   60% {
     transform: translate(80px, 50px);
   }

   80% {
     transform: translate(0px, 800px);
   }
 }

.welly{
  font-size: 30px;
  color: #7CFC00;
  text-align: center;
  animation:
     nudge 3s linear;
}

body {
  background-image: url('http://www.northernlightstromso.no/data1/slide/1.jpg');
  background-repeat: repeat;
}

#input1 {
  font-size: 15px;
  margin: 20px;
}

#input2 {
  font-size: 15px;
}

button {
  background-color: #7CFC00;
}

.circle:hover {
  border: 2px solid;
  height: 45px;
  width: 80px;
  font-size: 15px;
  border-radius:70%;
  margin: 20px;

}


